html
  overflow-y: hidden

body
  background-color: black

#container
  position: fixed
  top: 100px
  bottom: 100px
  width: 100%

h1, h3
  font-family: 'Biryani', sans-serif
  position: absolute
  bottom: -50px
  font-size: 14px
  text-align: center
  color: gray
  width: 100%

h3
  bottom: -70px
  
a
  color: gray
  
.logo
  fill: black
  stroke: white
  stroke-width: 0.3px
  
.links
  stroke: white
  stroke-width: 0.3px

.nodes
  fill: white
  stroke: black
  opacity: 0.2
